* {
  background-color: #8DC54C;
  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

header .name,
header .icons {
  display: inline;
  padding: 0 1rem;
}

main {
  padding-bottom: 4rem;
}

section {
  padding-top: 4rem;
}

article {
  padding-bottom: 3rem;
}

img {
  width: 100%;
}

.img-container {
  overflow:hidden;
  text-align: center;
  transition: transform .5s;
}

.img-container img:hover {
  transform: scale(1.3);
}

.avatar, 
.title {
  text-align: center;
}

.avatar {
  border: 5px solid #fff;
  border-radius: 50%;
  display: block;
  height: 300px;
  margin: 20px auto auto auto;
  padding-top: 50px;
  width: 300px;
}

.avatar img {
  height: 180px;
  width: 180px;
}

h1 {
  color: #D97600;
  font-family: 'Kaushan Script', handwriting, serif;
  font-size: 6rem;
  font-weight: 900;
}

a {
    color:#444;
}

a:hover {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

div.name {
  font-size: 2rem;
  font-style: italic;
}

.icons {
  padding-bottom: 3rem;
  padding-top: 2rem;
  text-align: center;
}

div.icons span {
    font-size: 2rem;
}

.row {
  border: 10px solid #fff;
  padding: 50px;
}

footer {
  padding-left: 3rem;
  padding-top: 3rem;
}